.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
  }
  
  .backLink {
	display: inline-block;
	color: #007bff;
	text-decoration: none;
	font-size: 18px;
	margin-bottom: 20px;
  }
  
  .backLink:hover {
	text-decoration: underline;
  }
  
  .movieDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .moviePoster {
	width: 300px;
	height: auto;
	margin-bottom: 20px;
	border-radius: 10px;
  }
  
  .movieTitle {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .movieOverview {
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	margin-bottom: 20px;
  }

  .navbar{
	display: flex;
	justify-content: center;
  }

  .link {
	color: black;
	text-decoration: none;
	margin: 0 15px;
	font-size: 1.2em;
	font-weight: 700;
	transition: color 0.3s;
  }
  
  .link:hover {
	color: darkslateblue;
	font-size: 1.3em;
  }
  
  .isActive {
	font-style: italic;
	font-weight: 700;
	color: darkslateblue;
	border-bottom: 4px solid darkslateblue;
  }
