#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 2.5em;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

li {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s, font-size 0.3s;
}

li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  color: darkslateblue;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-info {
  padding: 15px;
}

.movie-title {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.movie-release-date {
  color: #777;
  margin-top: 5px;
}